body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: var(--bg-light-color);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  display: flex;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

/*container*/
.container {
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.section {
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
}

:root {
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --accent-dark-color: #188ce8;
  --overlay-card-color: rgba(33, 150, 243, 0.9);
  --dark-color: #000000;
  --main-color: #212121;
  --main-text-wan-color: #757575;
  --main-light-color: #ffffff;
  --bg-light-color: #ffffff;
  --bg-dark-color: #2f303a;
  --bg-light2-color: #f5f4fa;
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-icons-socialmedia-color: rgba(255, 255, 255, 0.1);
  --specification-description-color: rgba(47, 48, 58, 0.8);
  --followUs-form-input-border-color: rgba(255, 255, 255, 0.3);
  --modal-close-btn: rgba(0, 0, 0, 0.1);
  --modal-overlay-color: rgba(0, 0, 0, 0.2);
  --submit-textarea-color: rgba(117, 117, 117, 0.5);
  --submit-decoration-color: rgba(33, 33, 33, 0.2);
  --hero-gradient: linear-gradient(
    to bottom,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  --filter-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --action-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --portfolio-example-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --big-padding: 94px;
  --list-gap: 30px;
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*hidden-element*/
.hidden-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*logo*/
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-studio-white {
  color: var(--main-light-color);
}

.logo-studio-black {
  color: var(--dark-color);
}

.action-button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  /* btn alignment for Chromium engine */
  vertical-align: top;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-style: hidden;
  border-radius: 4px;
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: var(--action-btn-shadow);
  cursor: pointer;
  transition: background-color var(--main-animation);
}

.action-button:hover,
.action-button:focus {
  background-color: var(--accent-dark-color);
}

/*h2 title*/
.section-title {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/*socialmedia */
.socialmedia-list__item:not(:last-child) {
  margin-right: 10px;
}

.socialmedia-list__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--bg-light-color);
  transition: background-color var(--main-animation),
    color var(--main-animation);
}

.socialmedia-list__link--dark-bg {
  color: var(--main-light-color);
  background-color: var(--footer-icons-socialmedia-color);
}

.socialmedia-list__link:focus,
.socialmedia-list__link:hover,
.socialmedia-list__link--dark-bg:focus,
.socialmedia-list__link--dark-bg:hover {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}

.socialmedia-list__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/*footer-form*/
.followUs-form__input {
  width: 358px;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  background-color: transparent;
  border: 1px solid var(--followUs-form-input-border-color);
  border-radius: 4px;
  filter: drop-shadow(var(--action-btn-shadow));
  transition: border var(--main-animation);
}

.followUs-form__input::placeholder {
  font-size: 16px;
  /*line-height: 1.25;          for firefox placeholder vertical aligning*/
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.followUs-form__input:focus {
  outline: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.followUs-form__icon {
  margin-left: 10px;
  fill: var(--main-light-color);
  background-image: url(/images/icons/icons.svg#send-btn);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay-color);
  transition: opacity var(--main-animation), visibility var(--main-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid var(--modal-close-btn);
  background-color: var(--main-light-color);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--main-animation);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent-color);
}

.close-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--bg-light-color);
}

.submit {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}

.submit__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.submit {
  margin-bottom: 10px;
  width: 100%;
}

.submit__input-wrapper {
  position: relative;
}

.submit__lbl {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-wan-color);
}

.submit__input {
  min-height: 40px;
  padding-left: 42px;
}

.submit__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: currentColor;
}

.submit__input + .submit__icon {
  color: var(--main-color);
  transition: var(--main-animation);
}

.submit__input:focus + .submit__icon {
  color: var(--accent-color);
}

.submit__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.submit__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--submit-textarea-color);
}

.subscription {
  display: flex;
  margin: 10px 0 30px 0;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

.subscription-link {
  margin-left: 5px;
  color: var(--accent-color);
}

.subscription-icon {
  fill: none;
  margin-right: 7px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  outline: none;
  transition: var(--main-animation);
}

.subscription-input:checked + .subscription-icon {
  background-color: var(--accent-color);
  fill: var(--main-light-color);
  border: none;
  transition: var(--main-animation);
}

.subscription-input:focus-visible + .subscription-icon {
  outline: solid 1pt;
}

.submit--decoration {
  display: block;
  width: 100%;
  border: 1px solid var(--submit-decoration-color);
  border-radius: 4px;
  transition: border var(--main-animation);
}

.submit--decoration:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-submit-btn {
  margin: auto;
}

.filter {
  margin-bottom: 50px;
}

.filter > li:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  display: inline-flex;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  font-style: normal;
  border-style: hidden;
  border-radius: 4px;
  color: var(--main-color);
  background-color: var(--bg-light2-color);
  cursor: pointer;
  transition: color var(--main-animation),
    background-color var(--main-animation), box-shadow var(--main-animation);
}

.filter__btn.current,
.filter__btn:hover,
.filter__btn:focus,
.filter__btn:active {
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: var(--filter-btn-shadow);
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-style: normal;
  border-bottom: 1px solid var(--header-border-color);
}

header .container {
  display: flex;
  align-items: center;
}

header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  margin-left: 93px;
}

.navigation-list > li:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  text-decoration: none;
  color: var(--main-color);
  transition: color var(--main-animation);
}

.navigation-list .current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.navigation-list.current,
.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--accent-color);
}

.header-contacts-list {
  margin-left: auto;
}

.header-contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--main-text-wan-color);
  transition: color var(--main-animation);
}

.header-contacts-list > li:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-list__icon {
  margin: 0 10px 0 0;
  fill: currentColor;
}

.header-contacts-list__link:hover,
.header-contacts-list__link:focus {
  color: var(--accent-color);
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-light-color);
  background-color: var(--bg-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

/*contacts-info*/
.contacts-list {
  display: block;
  margin-top: 20px;
}

.contacts-list > li:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list .contact-link,
.contacts-list address {
  font-style: normal;
  text-decoration: none;
}

.contacts-list .contact-link {
  color: var(--footer-contacts-color);
  transition: color var(--main-animation);
}

.contacts-list .contact-link:hover,
.contacts-list .contact-link:focus {
  color: var(--accent-color);
}

.hero {
  width: 1600px;
  padding: 200px 0;
  text-align: center;
  margin: auto;
  background-color: var(--bg-dark-color);
  background-image: var(--hero-gradient), url(../images/studio/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.features-list {
  margin-left: calc(-1 * var(--list-gap));
}

.features-list__item {
  width: 270px;
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 4);
}

.features-list__icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light2-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  width: 270px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-text-wan-color);
}

.specification {
  padding-top: calc(-1 * var(--big-padding));
}

.specification-list {
  margin-left: calc(-1 * var(--list-gap));
}

.specification-list__item {
  position: relative;
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 3);
}

.specification__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  color: var(--main-light-color);
  background-color: var(--specification-description-color);
}

.team {
  background-color: var(--bg-light2-color);
}

.team-list {
  margin-left: calc(-1 * var(--list-gap));
}

.team-list__item {
  width: auto;
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-light-color);
}

.team-list__content {
  display: flex;
  flex-direction: column;
  height: 168px;
  align-items: center;
  justify-content: center;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-wan-color);
  margin-bottom: 16px;
}

.clients-list {
  margin-left: calc(-1 * var(--list-gap));
}

.clients-list__item {
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 6);
}

.clients__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--main-animation);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}

.example {
  display: flex;
  justify-content: center;
}

.example-list {
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--list-gap));
  margin-left: calc(-1 * var(--list-gap));
}

.example-list__item {
  flex-basis: calc(100% / 3);
  margin-left: var(--list-gap);
  margin-top: var(--list-gap);
  max-width: 370px;
}

.example__link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  max-width: 370px;
  transition: box-shadow var(--main-animation);
}

.example__overlay-box {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.example__overlay-text {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-light-color);
  background-color: var(--overlay-card-color);
  transform: translateY(101%);
  transition: transform var(--main-animation);
}

/*.example__overlay-text:hover,*/
.example__link:hover .example__overlay-text,
.example__link:focus .example__overlay-text {
  transform: translateY(0%);
}

.example__link:hover,
.example__link:focus {
  box-shadow: var(--portfolio-example-shadow);
}

/*content*/
.example__content {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}

.example__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-text-wan-color);
}
/*# sourceMappingURL=main.css.map */
