.hero {
  width: 1600px;
  padding: 200px 0;
  text-align: center;
  margin: auto;

  background-color: var(--bg-dark-color);
  background-image: var(--hero-gradient), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    width: 696px;
    margin: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--main-light-color);
  }
}
