.specification {
  padding-top: calc(-1 * var(--big-padding));
}

.specification-list {
  margin-left: calc(-1 * var(--list-gap));

  &__item {
    position: relative;
    margin-left: var(--list-gap);
    flex-basis: calc(100% / 3);
  }
}

.specification__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;

  color: var(--main-light-color);
  background-color: var(--specification-description-color);
}
