/*logo*/
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-studio-white {
  color: var(--main-light-color);
}
.logo-studio-black {
  color: var(--dark-color);
}
