/*socialmedia */
.socialmedia-list {
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--icon-color);
    background-color: var(--bg-light-color);
    transition: background-color var(--main-animation),
      color var(--main-animation);
  }

  &__link--dark-bg {
    color: var(--main-light-color);
    background-color: var(--footer-icons-socialmedia-color);
  }

  &__link:focus,
  &__link:hover,
  &__link--dark-bg:focus,
  &__link--dark-bg:hover {
    background-color: var(--accent-color);
    color: var(--main-light-color);
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
