body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  background-color: var(--bg-light-color);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  display: flex;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
